name: Linting

on:
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '24'
    - name: Install Dependencies
      run: npm install
    - name: Run ESLint
      run: npx eslint ./scripts

